# PROJECT QUESTION: Can we predict which movie genre people like the most and can we draw some conlusion regarding human behaviour with the analysis?

In [11]:
import numpy as np
import pandas as pd
movieEx = pd.read_csv('movies.csv', sep=',')
movieEx.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [2]:
ratings = pd.read_csv('C:\\Users\\user\\PyDaSc\\Week-4-Pandas\\ratings.csv', sep=',', parse_dates=['timestamp'])
ratings.head()

   userId  movieId  rating   timestamp
0       1        2     3.5  1112486027
1       1       29     3.5  1112484676
2       1       32     3.5  1112484819
3       1       47     3.5  1112484727
4       1       50     3.5  1112484580

In [13]:
movieRating = ratings.merge(movieEx, on='movieId', how='inner')
movieRating.head()

,userId,movieId,rating,timestamp,title,genres
0,1,2,3.5,1112486027,Jumanji (1995),Adventure|Children|Fantasy
1,5,2,3.0,851527569,Jumanji (1995),Adventure|Children|Fantasy
2,13,2,3.0,849082742,Jumanji (1995),Adventure|Children|Fantasy
3,29,2,3.0,835562174,Jumanji (1995),Adventure|Children|Fantasy
4,34,2,3.0,846509384,Jumanji (1995),Adventure|Children|Fantasy

In [16]:
movieRating.isnull().any() ##is any row NULL ?

userId       False
movieId      False
rating       False
timestamp    False
title        False
genres       False
dtype: bool

In [22]:
movieRating['year'] = movieRating['title'].str.extract('.*\((.*)\).*', expand=True)

In [46]:
type(movieRating)

pandas.core.frame.DataFrame

In [49]:
print(movieRating['rating'].mean())

3.5255285642993797

In [43]:
average_rating.head()

genres              title
(no genres listed)  (Absolutions) Pipilotti's Mistakes ((Entlastungen) Pipilottis Fehler) (1988)    1.0
                    1000 Journals (2007)                                                            2.0
                    A Fight For (2014)                                                              3.0
                    A Rumor Of War (1980)                                                           3.0
                    A True Mob Story (1998)                                                         2.0
Name: rating, dtype: float64

In [51]:
movieRating.dtypes

userId         int64
movieId        int64
rating       float64
timestamp     object
title         object
genres        object
year          object
dtype: object

In [64]:
movieRating['rating'].describe()

count    2.000026e+07
mean     3.525529e+00
std      1.051989e+00
min      5.000000e-01
25%      3.000000e+00
50%      3.500000e+00
75%      4.000000e+00
max      5.000000e+00
Name: rating, dtype: float64

In [72]:
movieRating['title'].value_counts()

Pulp Fiction (1994)                                                               67310
Forrest Gump (1994)                                                               66172
Shawshank Redemption, The (1994)                                                  63366
Silence of the Lambs, The (1991)                                                  63299
Jurassic Park (1993)                                                              59715
Star Wars: Episode IV - A New Hope (1977)                                         54502
Braveheart (1995)                                                                 53769
Terminator 2: Judgment Day (1991)                                                 52244
Matrix, The (1999)                                                                51334
Schindler's List (1993)                                                           50054
Toy Story (1995)                                                                  49695
Fugitive, The (1993)                                                              49581
Apollo 13 (1995)                                                                  47777
Independence Day (a.k.a. ID4) (1996)                                              47048
Usual Suspects, The (1995)                                                        47006
Star Wars: Episode VI - Return of the Jedi (1983)                                 46839
Batman (1989)                                                                     46054
Star Wars: Episode V - The Empire Strikes Back (1980)                             45313
American Beauty (1999)                                                            44987
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                         44980
Dances with Wolves (1990)                                                         44208
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    43295
Fargo (1996)                                                                      43272
Seven (a.k.a. Se7en) (1995)                                                       43249
True Lies (1994)                                                                  43159
Aladdin (1992)                                                                    41849
Speed (1994)                                                                      41562
Back to the Future (1985)                                                         41426
Godfather, The (1972)                                                             41355
Fight Club (1999)                                                                 40106
                                                                                  ...
First Texan, The (1956)                                                               1
Headhunter's Sister, The (1997)                                                       1
WWII IN HD (2009)                                                                     1
Charlie Brown's Christmas Tales (2002)                                                1
Little Thief, The (La petite voleuse) (1988)                                          1
A Lesson Before Dying (1999)                                                          1
Skies Above the Landscape (Nebo iznad krajolika) (2006)                               1
People in Places (2013)                                                               1
Kings of the Sun (1963)                                                               1
North Star, The (1943)                                                                1
Perfume (2001)                                                                        1
What Have They Done to Your Daughters? (1974)                                         1
Shades of Fern (Stín kapradiny) (1984)                                                1
Bookies (2003)                                                                        1
Homem Que Desafiou o Diabo, O (2007)                                                  1
Too Late Blues (1961)                                                                 1
Yes, But... (Oui, mais...) (2001)                                                     1
Day and Night (Le jour et la nuit) (1997)                                             1
Signs (2008)                                                                          1
I Want to Look Like That Guy (2009)                                                   1
1½ Knights - In Search of the Ravishing Princess Herzelinde (2008)                    1
Mr. Kinky (1968)                                                                      1
Vic+Flo Saw a Bear (2013)                                                             1
Kolmistaan (2008)                                                                     1
Zeder (1983)                                                                          1
The Widow From Chicago (1930)                                                         1
Three on a Weekend (1938)                                                             1
Sun Kissed (2012)                                                                     1
Bullet for Joey, A (1955)                                                             1
Business as Usual (1988)                                                              1
Name: title, Length: 26729, dtype: int64

In [73]:
movieRating['genres'].value_counts()

Drama                                             1467402
Comedy                                            1316161
Comedy|Romance                                     793252
Comedy|Drama                                       656474
Drama|Romance                                      644626
Comedy|Drama|Romance                               615897
Crime|Drama                                        467417
Action|Adventure|Sci-Fi                            441351
Action|Adventure|Thriller                          313902
Action|Crime|Thriller                              310685
Drama|Thriller                                     292533
Action|Adventure|Sci-Fi|Thriller                   291796
Drama|War                                          239542
Action|Sci-Fi|Thriller                             232931
Crime|Drama|Thriller                               217121
Comedy|Crime                                       217032
Action|Drama|War                                   213007
Action|Crime|Drama|Thriller                        195241
Documentary                                        173848
Thriller                                           152139
Action|Thriller                                    140838
Horror                                             135669
Drama|Mystery|Thriller                             134291
Horror|Thriller                                    131714
Action|Sci-Fi                                      129585
Children|Comedy                                    128382
Mystery|Thriller                                   124167
Comedy|Crime|Drama|Thriller                        123353
Adventure|Animation|Children|Comedy|Fantasy        116359
Adventure|Comedy|Sci-Fi                            115357
                                                   ...
Adventure|Crime                                         1
Sci-Fi|Western                                          1
Action|Comedy|Crime|Drama|Romance                       1
Animation|Comedy|Horror                                 1
Action|Children|Comedy|Fantasy                          1
Action|Adventure|Fantasy|Musical|Romance                1
Action|Comedy|Crime|Fantasy|Thriller                    1
Adventure|Crime|Drama|Fantasy|Mystery|Thriller          1
Adventure|Horror|Sci-Fi|Thriller                        1
Action|Adventure|Comedy|Crime|Drama|Thriller            1
Children|Fantasy|Horror|Romance                         1
Adventure|Children|Mystery                              1
Adventure|Children|Drama|Western                        1
Children|Drama|Thriller                                 1
Action|Comedy|Crime|Romance|Thriller                    1
Children|Documentary|Drama                              1
Action|Animation|Children|Comedy|Fantasy                1
Comedy|Drama|Horror|Romance                             1
Animation|Comedy|Drama|Mystery                          1
Action|Adventure|Crime|Mystery                          1
Adventure|Children|Documentary|Drama                    1
Comedy|Documentary|Horror                               1
Animation|Children|Comedy|Western                       1
Mystery|Thriller|War                                    1
Children|Romance                                        1
Drama|Film-Noir|Mystery|Romance|Sci-Fi                  1
Adventure|Children|Comedy|Fantasy|Horror                1
Adventure|Children|Comedy|Documentary|Drama             1
Adventure|Animation|Drama|Sci-Fi                        1
Comedy|Mystery|Romance|Western                          1
Name: genres, Length: 1329, dtype: int64

In [74]:
temp1 = movieRating['genres'].value_counts(ascending=True)
temp2 = movieRating.pivot_table(values='rating',index=['genres'],aggfunc=lambda x: x.map({'Y':1,'N':0}).mean())
print ('genres:') 
print (temp1)

print ('rating')
print (temp2)

genres:
Comedy|Mystery|Romance|Western                          1
Adventure|Animation|Drama|Sci-Fi                        1
Adventure|Children|Comedy|Documentary|Drama             1
Adventure|Children|Comedy|Fantasy|Horror                1
Drama|Film-Noir|Mystery|Romance|Sci-Fi                  1
Children|Romance                                        1
Mystery|Thriller|War                                    1
Animation|Children|Comedy|Western                       1
Comedy|Documentary|Horror                               1
Adventure|Children|Documentary|Drama                    1
Action|Adventure|Crime|Mystery                          1
Animation|Comedy|Drama|Mystery                          1
Comedy|Drama|Horror|Romance                             1
Action|Animation|Children|Comedy|Fantasy                1
Children|Documentary|Drama                              1
Action|Comedy|Crime|Romance|Thriller                    1
Children|Drama|Thriller                                 1
Adventure|Children|Drama|Western                        1
Adventure|Children|Mystery                              1
Children|Fantasy|Horror|Romance                         1
Action|Adventure|Comedy|Crime|Drama|Thriller            1
Adventure|Horror|Sci-Fi|Thriller                        1
Adventure|Crime|Drama|Fantasy|Mystery|Thriller          1
Action|Comedy|Crime|Fantasy|Thriller                    1
Action|Adventure|Fantasy|Musical|Romance                1
Action|Children|Comedy|Fantasy                          1
Animation|Comedy|Horror                                 1
Action|Comedy|Crime|Drama|Romance                       1
Sci-Fi|Western                                          1
Adventure|Crime                                         1
                                                   ...
Adventure|Comedy|Sci-Fi                            115357
Adventure|Animation|Children|Comedy|Fantasy        116359
Comedy|Crime|Drama|Thriller                        123353
Mystery|Thriller                                   124167
Children|Comedy                                    128382
Action|Sci-Fi                                      129585
Horror|Thriller                                    131714
Drama|Mystery|Thriller                             134291
Horror                                             135669
Action|Thriller                                    140838
Thriller                                           152139
Documentary                                        173848
Action|Crime|Drama|Thriller                        195241
Action|Drama|War                                   213007
Comedy|Crime                                       217032
Crime|Drama|Thriller                               217121
Action|Sci-Fi|Thriller                             232931
Drama|War                                          239542
Action|Adventure|Sci-Fi|Thriller                   291796
Drama|Thriller                                     292533
Action|Crime|Thriller                              310685
Action|Adventure|Thriller                          313902
Action|Adventure|Sci-Fi                            441351
Crime|Drama                                        467417
Comedy|Drama|Romance                               615897
Drama|Romance                                      644626
Comedy|Drama                                       656474
Comedy|Romance                                     793252
Comedy                                            1316161
Drama                                             1467402
Name: genres, Length: 1329, dtype: int64
rating
Empty DataFrame
Columns: []
Index: [(no genres listed), Action, Action|Adventure, Action|Adventure|Animation, Action|Adventure|Animation|Children, Action|Adventure|Animation|Children|Comedy, Action|Adventure|Animation|Children|Comedy|Fantasy, Action|Adventure|Animation|Children|Comedy|IMAX, Action|Adventure|Animation|Children|Comedy|Romance, Action|Adventure|Animation|Children|Comedy|Sci-Fi, Action|Adventure|Animation|Children|Comedy|Sci-Fi|IMAX, Action|Adventure|Animation|Children|Comedy|Western, Action|Adventure|Animation|Children|Fantasy, Action|Adventure|Animation|Children|Fantasy|Sci-Fi, Action|Adventure|Animation|Children|Sci-Fi, Action|Adventure|Animation|Comedy, Action|Adventure|Animation|Comedy|Crime|Mystery, Action|Adventure|Animation|Comedy|Drama|Fantasy|Romance, Action|Adventure|Animation|Comedy|Fantasy, Action|Adventure|Animation|Comedy|Fantasy|Mystery|Sci-Fi, Action|Adventure|Animation|Comedy|Fantasy|Sci-Fi, Action|Adventure|Animation|Comedy|Sci-Fi, Action|Adventure|Animation|Comedy|Thriller, Action|Adventure|Animation|Crime|Fantasy, Action|Adventure|Animation|Crime|Sci-Fi, Action|Adventure|Animation|Drama, Action|Adventure|Animation|Drama|Fantasy, Action|Adventure|Animation|Drama|Sci-Fi, Action|Adventure|Animation|Fantasy, Action|Adventure|Animation|Fantasy|Horror, Action|Adventure|Animation|Fantasy|IMAX, Action|Adventure|Animation|Fantasy|Sci-Fi, Action|Adventure|Animation|Horror, Action|Adventure|Animation|Horror|Sci-Fi, Action|Adventure|Animation|Mystery|Sci-Fi, Action|Adventure|Animation|Sci-Fi, Action|Adventure|Animation|Sci-Fi|Thriller, Action|Adventure|Children, Action|Adventure|Children|Comedy, Action|Adventure|Children|Comedy|Crime, Action|Adventure|Children|Comedy|Fantasy, Action|Adventure|Children|Comedy|Fantasy|Sci-Fi, Action|Adventure|Children|Comedy|Mystery, Action|Adventure|Children|Comedy|Sci-Fi, Action|Adventure|Children|Crime|Mystery|Thriller, Action|Adventure|Children|Drama, Action|Adventure|Children|Fantasy, Action|Adventure|Children|Fantasy|Mystery|Thriller, Action|Adventure|Children|IMAX, Action|Adventure|Comedy, Action|Adventure|Comedy|Crime, Action|Adventure|Comedy|Crime|Drama, Action|Adventure|Comedy|Crime|Drama|Film-Noir|Horror|Mystery|Thriller|Western, Action|Adventure|Comedy|Crime|Drama|Thriller, Action|Adventure|Comedy|Crime|Fantasy, Action|Adventure|Comedy|Crime|Mystery|Thriller, Action|Adventure|Comedy|Crime|Romance|Thriller, Action|Adventure|Comedy|Crime|Sci-Fi, Action|Adventure|Comedy|Crime|Thriller, Action|Adventure|Comedy|Crime|Thriller|War, Action|Adventure|Comedy|Documentary|Fantasy, Action|Adventure|Comedy|Drama, Action|Adventure|Comedy|Drama|Fantasy|Thriller, Action|Adventure|Comedy|Drama|Mystery|Romance|Thriller, Action|Adventure|Comedy|Drama|Romance, Action|Adventure|Comedy|Drama|Romance|Thriller, Action|Adventure|Comedy|Drama|Romance|War, Action|Adventure|Comedy|Drama|Thriller, Action|Adventure|Comedy|Drama|War, Action|Adventure|Comedy|Fantasy, Action|Adventure|Comedy|Fantasy|Horror, Action|Adventure|Comedy|Fantasy|Horror|Thriller, Action|Adventure|Comedy|Fantasy|Mystery, Action|Adventure|Comedy|Fantasy|Romance, Action|Adventure|Comedy|Fantasy|Sci-Fi, Action|Adventure|Comedy|Horror, Action|Adventure|Comedy|Musical|Romance|Thriller, Action|Adventure|Comedy|Romance, Action|Adventure|Comedy|Romance|Thriller, Action|Adventure|Comedy|Romance|War, Action|Adventure|Comedy|Sci-Fi, Action|Adventure|Comedy|Sci-Fi|IMAX, Action|Adventure|Comedy|Sci-Fi|Thriller, Action|Adventure|Comedy|Thriller, Action|Adventure|Comedy|War, Action|Adventure|Comedy|Western, Action|Adventure|Crime, Action|Adventure|Crime|Drama, Action|Adventure|Crime|Drama|Mystery|Thriller, Action|Adventure|Crime|Drama|Romance, Action|Adventure|Crime|Drama|Romance|Thriller, Action|Adventure|Crime|Drama|Sci-Fi, Action|Adventure|Crime|Drama|Sci-Fi|Thriller|War, Action|Adventure|Crime|Drama|Thriller, Action|Adventure|Crime|Drama|Thriller|War, Action|Adventure|Crime|Drama|Western, Action|Adventure|Crime|Fantasy, Action|Adventure|Crime|Horror|Thriller, Action|Adventure|Crime|IMAX, Action|Adventure|Crime|Mystery, ...]

[1329 rows x 0 columns]

In [75]:
movieRating.shape

(20000263, 7)

In [76]:
movieEx.shape

(27278, 3)

In [77]:
ratings.shape

(20000263, 4)

In [78]:
movieRating.index

Int64Index([       0,        1,        2,        3,        4,        5,
                   6,        7,        8,        9,
            ...
            20000253, 20000254, 20000255, 20000256, 20000257, 20000258,
            20000259, 20000260, 20000261, 20000262],
           dtype='int64', length=20000263)

In [80]:
movieRating.columns

Index(['userId', 'movieId', 'rating', 'timestamp', 'title', 'genres', 'year'], dtype='object')

In [81]:
del movieRating['timestamp']

In [82]:
movieRating.columns

Index(['userId', 'movieId', 'rating', 'title', 'genres', 'year'], dtype='object')

In [83]:
movieRating.loc[0]

userId                              1
movieId                             2
rating                            3.5
title                  Jumanji (1995)
genres     Adventure|Children|Fantasy
year                             1995
Name: 0, dtype: object

In [84]:
movieRating.iloc[0]

userId                              1
movieId                             2
rating                            3.5
title                  Jumanji (1995)
genres     Adventure|Children|Fantasy
year                             1995
Name: 0, dtype: object

In [87]:
most_rated = movieRating.groupby('title').size().sort_values(ascending=False)[:100] #What are the 100 most rated movies?
most_rated

title
Pulp Fiction (1994)                                                               67310
Forrest Gump (1994)                                                               66172
Shawshank Redemption, The (1994)                                                  63366
Silence of the Lambs, The (1991)                                                  63299
Jurassic Park (1993)                                                              59715
Star Wars: Episode IV - A New Hope (1977)                                         54502
Braveheart (1995)                                                                 53769
Terminator 2: Judgment Day (1991)                                                 52244
Matrix, The (1999)                                                                51334
Schindler's List (1993)                                                           50054
Toy Story (1995)                                                                  49695
Fugitive, The (1993)                                                              49581
Apollo 13 (1995)                                                                  47777
Independence Day (a.k.a. ID4) (1996)                                              47048
Usual Suspects, The (1995)                                                        47006
Star Wars: Episode VI - Return of the Jedi (1983)                                 46839
Batman (1989)                                                                     46054
Star Wars: Episode V - The Empire Strikes Back (1980)                             45313
American Beauty (1999)                                                            44987
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)                                         44980
Dances with Wolves (1990)                                                         44208
Raiders of the Lost Ark (Indiana Jones and the Raiders of the Lost Ark) (1981)    43295
Fargo (1996)                                                                      43272
Seven (a.k.a. Se7en) (1995)                                                       43249
True Lies (1994)                                                                  43159
Aladdin (1992)                                                                    41849
Speed (1994)                                                                      41562
Back to the Future (1985)                                                         41426
Godfather, The (1972)                                                             41355
Fight Club (1999)                                                                 40106
                                                                                  ...
Home Alone (1990)                                                                 28348
Willy Wonka & the Chocolate Factory (1971)                                        28335
Good Will Hunting (1997)                                                          28324
Waterworld (1995)                                                                 27775
Four Weddings and a Funeral (1994)                                                27699
Fifth Element, The (1997)                                                         27660
Reservoir Dogs (1992)                                                             27635
Interview with the Vampire: The Vampire Chronicles (1994)                         27568
Godfather: Part II, The (1974)                                                    27398
Aliens (1986)                                                                     27206
Being John Malkovich (1999)                                                       27160
X-Men (2000)                                                                      26846
L.A. Confidential (1997)                                                          26836
Goodfellas (1990)                                                                 26406
Star Trek: Generations (1994)                                                     26404
Clueless (1995)                                                                   26254
Outbreak (1995)                                                                   26246
Léon: The Professional (a.k.a. The Professional) (Léon) (1994)                    25804
Firm, The (1993)                                                                  25689
Pirates of the Caribbean: The Curse of the Black Pearl (2003)                     25257
2001: A Space Odyssey (1968)                                                      25253
Crouching Tiger, Hidden Dragon (Wo hu cang long) (2000)                           25090
Cliffhanger (1993)                                                                24940
Clockwork Orange, A (1971)                                                        24694
Austin Powers: The Spy Who Shagged Me (1999)                                      24651
Net, The (1995)                                                                   24618
Rain Man (1988)                                                                   24591
There's Something About Mary (1998)                                               24582
Shakespeare in Love (1998)                                                        24521
Taxi Driver (1976)                                                                24481
Length: 100, dtype: int64

In [88]:
movie_stats = movieRating.groupby('title').agg({'rating': [np.size, np.mean]})
movie_stats.head()

                                                   rating
                                                     size      mean
title
"Great Performances" Cats (1998)                    155.0  2.748387
#chicagoGirl: The Social Network Takes on a Dic...    3.0  3.666667
$ (Dollars) (1971)                                   24.0  2.833333
$5 a Day (2008)                                      39.0  2.871795
$9.99 (2008)                                         55.0  3.009091

In [91]:
atleast_30000 = movie_stats['rating']['size'] >= 30000
movie_stats[atleast_30000].sort_values([('rating', 'mean')], ascending=False)[:100]

                                                     rating
                                                       size      mean
title
Shawshank Redemption, The (1994)                    63366.0  4.446990
Godfather, The (1972)                               41355.0  4.364732
Usual Suspects, The (1995)                          47006.0  4.334372
Schindler's List (1993)                             50054.0  4.310175
Fight Club (1999)                                   40106.0  4.227123
Raiders of the Lost Ark (Indiana Jones and the ...  43295.0  4.219009
Star Wars: Episode IV - A New Hope (1977)           54502.0  4.190672
Star Wars: Episode V - The Empire Strikes Back ...  45313.0  4.188202
Matrix, The (1999)                                  51334.0  4.187186
Memento (2000)                                      30443.0  4.178547
Silence of the Lambs, The (1991)                    63299.0  4.177057
Princess Bride, The (1987)                          32586.0  4.176732
Pulp Fiction (1994)                                 67310.0  4.174231
Monty Python and the Holy Grail (1975)              33024.0  4.174146
American Beauty (1999)                              44987.0  4.155934
Lord of the Rings: The Return of the King, The ...  31577.0  4.142382
Lord of the Rings: The Fellowship of the Ring, ...  37553.0  4.137925
Blade Runner (1982)                                 30526.0  4.133706
Fargo (1996)                                        43272.0  4.112359
Lord of the Rings: The Two Towers, The (2002)       33947.0  4.107521
Saving Private Ryan (1998)                          37110.0  4.064417
Sixth Sense, The (1999)                             39028.0  4.054999
Seven (a.k.a. Se7en) (1995)                         43249.0  4.053493
Braveheart (1995)                                   53769.0  4.042534
Alien (1979)                                        30933.0  4.041784
Forrest Gump (1994)                                 66172.0  4.029000
Indiana Jones and the Last Crusade (1989)           31280.0  4.007593
Star Wars: Episode VI - Return of the Jedi (1983)   46839.0  4.004622
Fugitive, The (1993)                                49581.0  3.985690
Gladiator (2000)                                    32878.0  3.952248
...                                                     ...       ...
Toy Story (1995)                                    49695.0  3.921240
Twelve Monkeys (a.k.a. 12 Monkeys) (1995)           44980.0  3.898055
Terminator, The (1984)                              33429.0  3.896392
Apollo 13 (1995)                                    47777.0  3.868598
Groundhog Day (1993)                                32026.0  3.867623
Shrek (2001)                                        31972.0  3.843613
Lion King, The (1994)                               38991.0  3.779090
E.T. the Extra-Terrestrial (1982)                   32685.0  3.754918
Dances with Wolves (1990)                           44208.0  3.728465
Aladdin (1992)                                      41849.0  3.680829
Rock, The (1996)                                    31353.0  3.679536
Beauty and the Beast (1991)                         35138.0  3.673302
Jurassic Park (1993)                                59715.0  3.664741
Babe (1995)                                         32255.0  3.643094
Men in Black (a.k.a. MIB) (1997)                    35580.0  3.558319
Speed (1994)                                        41562.0  3.493203
True Lies (1994)                                    43159.0  3.491149
Die Hard: With a Vengeance (1995)                   33940.0  3.489025
Pretty Woman (1990)                                 33900.0  3.420428
Batman (1989)                                       46054.0  3.402365
Mission: Impossible (1996)                          37127.0  3.388599
Mrs. Doubtfire (1993)                               34392.0  3.386267
Independence Day (a.k.a. ID4) (1996)                47048.0  3.370962
Stargate (1994)                                     31799.0  3.354225
Titanic (1997)                                      32238.0  3.338188
Twister (1996)                                      32446.0  3.196249
Mask, The (1994)                                    34384.0  3.174718
Ace Ventura: Pet Detective (1994)                   38226.0  2.982342
Dumb & Dumber (Dumb and Dumber) (1994)              32085.0  2.952470
Batman Forever (1995)                               32867.0  2.894727

[63 rows x 2 columns]