In [210]:
import numpy as np
import pandas as pd
movieEx = pd.read_csv('movies.csv', sep = '\t')
movieEx.head()

                                movieId,title,genres
0  1,Toy Story (1995),Adventure|Animation|Childre...
1        2,Jumanji (1995),Adventure|Children|Fantasy
2           3,Grumpier Old Men (1995),Comedy|Romance
3    4,Waiting to Exhale (1995),Comedy|Drama|Romance
4        5,Father of the Bride Part II (1995),Comedy

In [182]:
movieEx.columns

Index(['movieId,title,genres'], dtype='object')

In [9]:
movieEx.index

RangeIndex(start=0, stop=27278, step=1)

In [11]:
movieEx.shape

(27278, 1)

In [24]:
ratingEx = pd.read_csv('ratings.csv', sep = '\t')
ratingEx.head()

  userId,movieId,rating,timestamp
0              1,2,3.5,1112486027
1             1,29,3.5,1112484676
2             1,32,3.5,1112484819
3             1,47,3.5,1112484727
4             1,50,3.5,1112484580

In [22]:
ratingEx.columns

Index(['userId,movieId,rating,timestamp'], dtype='object')

In [23]:
ratingEx.index

RangeIndex(start=0, stop=20000263, step=1)

In [20]:
ratingEx.shape

(20000263, 1)

In [211]:
movieExnew = pd.DataFrame(movieEx['movieId,title,genres'].str.split(',', 2, expand=True).rename(columns={0:'movieId', 1:'title', 2:'genres'}))
movieExnew.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [105]:
movieExnew.columns

Index(['movieId', 'title', 'genres'], dtype='object')

In [127]:
movieExnew.shape

(27278, 3)

In [107]:
movieExnew.index

RangeIndex(start=0, stop=27278, step=1)

In [201]:
# Regular expression: ‘.*\,(.*)\&.*’
# String in Series: “Feuer, Eis & Dosenbier”

In [226]:
movieTit= pd.DataFrame(movieExnew['title'].str.split('\( \d \)', 1, expand=True).rename(columns={0:'title',1: 'day of release'}))
movieTit.tail()

                              title
27273  Kein Bund für's Leben (2007)
27274                        "Feuer
27275            The Pirates (2014)
27276           Rentun Ruusu (2001)
27277              Innocence (2014)

In [224]:
movieTit.head()

                                title
0                    Toy Story (1995)
1                      Jumanji (1995)
2             Grumpier Old Men (1995)
3            Waiting to Exhale (1995)
4  Father of the Bride Part II (1995)

In [225]:
movieTit.shape

(27278, 1)

In [130]:
movieTit.columns

Index(['movieId', 'title', 'date of release'], dtype='object')

In [131]:
movieTit.index

RangeIndex(start=0, stop=27278, step=1)

In [179]:
movieExGen=pd.DataFrame(movieExnew['genres'].str.split('|'))
movieExGen.head()

                                              genres
0  [Adventure, Animation, Children, Comedy, Fantasy]
1                     [Adventure, Children, Fantasy]
2                                  [Comedy, Romance]
3                           [Comedy, Drama, Romance]
4                                           [Comedy]

In [170]:
for i in movieExGen.iloc[0]:
    print(i[2])

Children

In [171]:
movieExGen.iloc

In [153]:
movieExGen.loc[:4]

                                              genres
0  [Adventure, Animation, Children, Comedy, Fantasy]
1                     [Adventure, Children, Fantasy]
2                                  [Comedy, Romance]
3                           [Comedy, Drama, Romance]
4                                           [Comedy]

In [195]:
movieExGen['movieId'] = np.array([j for j in range(0,27278)])
movieExGen.shape

(27278, 2)

In [197]:
movieExGen.tail()

                                  genres  movieId
27273                           [Comedy]    27273
27274  [ Eis & Dosenbier (2002)",Comedy]    27274
27275                        [Adventure]    27275
27276               [(no genres listed)]    27276
27277       [Adventure, Fantasy, Horror]    27277

In [198]:
movieTit.tail()

      movieId                  title date of release
27273          Kein Bund für's Leben          (2007)
27274  "Feuer                   None            None
27275                    The Pirates          (2014)
27276                   Rentun Ruusu          (2001)
27277                      Innocence          (2014)